.login__password-button {
  position: absolute;
  top: 2px;
  right: 5px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-size: 20px 20px;
  background-color: #000;

  transition-property: opacity;
  transition-duration: 1s;
  opacity: .6;
}

.login__password-button:hover {
  opacity: 1;
}
