.header__email {
  margin: 0 24px 0 0;
  height: 22px;

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 320px) {

  .header__email {
    display: none;
  }
}
