.not-found__button {
  margin: 36px;
  padding: 0;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 1s;
}

.not-found__button:hover {
  opacity: 0.6;
}
